<header>
  <nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand logo" href="/urls">spo<i class="fa-solid fa-ghost"></i>okle</a>
      <div class="navbar navbar-custom bg-dark">
        <a class="nav-item nav-link" href="#">My Quizzes</a>
        <a class="nav-item nav-link" href="#">My Results</a>
        <a class="nav-item nav-link" href="#">Create Quiz</a>
      </div>
    <div id="user" class="navbar navbar-dark bg-dark">
<!-- user name inserted via jQuery -->
      <a class="nav-item nav-link" href="#">Log Out</a>
    </div>
  </nav>
</header>
