$light-grey: #F0F0F0;
$accent-orange: #FF4D00;
$logo-font: 'Creepster', cursive;
$main-font: 'Jost', sans-serif;
$main-font-bold: 'Jost', sans-serif;
$background-img-path: "../images";

body {
  min-height: 100vh;
  font-family: $main-font;
  font-size: 20px;
  background: url(#{$background-img-path}/background-texture.png);
}

main {
  background: $light-grey;
  padding: 20px 0;
}

footer span {
  position: absolute;
  bottom: 0;
}

.share-button {
  border: 2px solid $accent-orange;
  background: #fff;
}

.share-button:hover {
  color: $accent-orange;
  border: 2px solid #fff;
}

td a {
  color: #000;
  border-bottom: 2px solid $accent-orange;
}

td a:hover {
  text-decoration: none;
  color: $accent-orange;
}




